.description{
    opacity: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    background: chartreuse;
    margin: 1rem;
}
.show-text{
    animation: fade-in 2s ease-out forwards;
    animation-delay: 1s;
}