.contact-section{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem;
    padding: 0.5rem;
    
}
.description{
    opacity: 0;
    display: grid;
    place-items: center;
    animation: fade-in 2s ease-out forwards;
    width: 100%;
    padding:1rem 0.5rem;

}
#desc1{
    animation-delay: 0.5s;
}
#desc2{
    animation-delay: 1s;
}
#desc3{
    animation-delay: 1.5s;
}
#desc4{
    animation-delay: 2s;
}
@media screen and (min-width: 700px) {
   
    .contact-section div{
        padding: 2rem;
    }
    .description{
        width: 100%;
    }
    .contact-link{
        letter-spacing: normal;
    }
}
@media screen and (min-width: 900px) {
   
    .contact-section div{
        padding: 3rem;
    }
}
.contact-link{
    display: inline-block;
    padding-top: 0.3rem;
    letter-spacing: 0rem;
}