.contact-section{
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem;
    padding: 1rem;
}
.description{
    display: grid;
    place-items: center;
}
@media screen and (min-width: 700px) {
    .contact-section{
        grid-template-columns: 1fr 1fr;
        
    }
    .contact-section div{
        padding: 2rem;
    }
}
@media screen and (min-width: 900px) {
    .contact-section{
        grid-template-columns: 1fr 1fr;
        
    }
    .contact-section div{
        padding: 3rem;
    }
}
.contact-link{
    display: inline-block;
    padding-top: 0.3rem;
}