
.fade-in{
  animation: fade-in 0.8s linear forwards;
}
.fade-out{
  animation: fade-out 0.9s ease-out forwards;
}
.gallery-photos-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 2rem;
    /* background-color: #bbb; */
    place-items: center;
    /* justify-items: space-evenly; */
    gap:2rem;
    padding:2rem 1rem;
  }
  .single-img-container{
    position: relative;
    width:330px;
    height: 220px;
    overflow: hidden;
    /* padding: 1rem; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.274);
    border-radius: 5px;
    z-index: 3;
    opacity: 0;
    animation: fade-in 0.5s linear forwards;
    animation-delay: 1s;
  }
  .single-img-container::before{
    content: "";
    position:absolute;
    width: 102%;
    height: 102%;
    opacity: 0.3;
    pointer-events: none;
    top: 0;
    left: 0;
    background: linear-gradient(0deg,  #ac82219b,  #683a1b7c), 
    linear-gradient(180deg,  #ffffff,  #ffffff)
    ;
    z-index: 1;
    
  }
  .single-img-container::before{
    transform: scale(1.2);
  }
  .single-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    transition: var(--transition);
    cursor: pointer;
    /* animation: fade-in 1.5s ease-out forwards, skeleton-pulse 1s ease infinite alternate; */
  }
  
  .single-img:hover{
    transform: scale(1.05);
    opacity: 1;
  }

  .gallery-info{
    padding: 0.7rem;
  }

  .spheric-gallery-link{
    /* animation: skeleton-pulse 1.5s linear infinite alternate; */
    background: linear-gradient(45deg,hsla(209, 58%, 31%, 0.096), rgba(128, 128, 128, 0.123) );  
    border-radius: 5px;
    padding: 1rem;
  }
  .spheric-gallery-link h3, 
  .spheric-gallery-link p{
    transform-origin: left;
    animation: skeleton-pulse 1.5s linear infinite alternate;
    
  }
  .spheric-gallery-link-header{
    color: hsl(209, 61%, 16%);;
  }

  @media screen and (min-width: 1000px) {
    .gallery-photos-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    .single-img-container{
         width:400px;
         height: 250px;
         overflow: hidden;
          /* padding: 1rem; */
            
    }
    
}


/* modal */
.modal{
  display: grid;
  place-items: center;
    pointer-events: none;
    position: fixed;
    width:100%;
    height:100%;
    background-color: rgba(14, 13, 13, 0.945);
    top:0;
    left:0;
    z-index: 999999999999999999999999999;
    opacity:0;
    transition: var(--transition);
  }
  .modal-visible{
    opacity: 1;
    pointer-events: all;
  }
  .modal-img-container{
    
    border: 0.1rem solid rgba(220, 220, 220, 0.432);
    /* border-radius: 3px; */
    /* transform: translate(-50%, -50%);   */
    width: 320px;
    max-height: 97vh;
  }
 
.image-description{
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  border-top: 1px solid gray;
  padding-top: 0.2rem;
}
@media screen and (min-width: 450px) {
  .modal-img-container{
    width: 390px;
  }
}
@media screen and (min-width: 600px) {
  .modal-img-container{
    width: 480px;
  }
}
@media screen and (min-width: 800px) {
  .modal-img-container{
    width: 650px;
  }
}
/* horizontal on phone! */
@media screen and (orientation: landscape) {
  .modal-img-container{
    width: 450px;
    /* max-height: 400px; */
    
  }
}
@media screen and (min-width: 1000px) {
    .modal-img-container{
        min-width: 65vw;
        left: 50%;
        top:50%;
        margin: 0;
    }
}

.left-arrow:active, .right-arrow:active{
  background: none;
}
  .left-arrow{
    width:30%;
    height: 50%;
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%) translateX(40%);
    opacity: 0;
    cursor: pointer;
    
  }
  .right-arrow{
    width:30%;
    height: 50%;
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%) translateX(-40%);
    opacity: 0;
    cursor: pointer;
  }
  .left-arrow:hover, .right-arrow:hover{
    opacity: 1;
  
  }
  .left-arrow:hover {
    background: url(../svg/angle-left.svg);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center left;
    
}
.right-arrow:hover {
    background: url(../svg/angle-right.svg);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center right;
   
  }

  .left-arrow i, .right-arrow i{
    color: rgba(243, 230, 230, 0.822);
    font-size: 5rem;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .left-arrow i{
    left:1rem;
  }
  .right-arrow i{
    right:1rem;
  }

  .image-description{
      max-height: 1rem;
      text-align: center;
      font-size: 1.2rem;
  }
  @media screen and (min-width: 1000px) {
    .image-description{
        max-height: 1.5rem;        
        font-size: 1.5rem;
    }
  }