.topshader{
    
    position: fixed;
    z-index: 9999999999;
    top:0;
    width: 100vw;
    height: 15vh;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.27354691876750703) 23%, rgba(0,0,0,0.7301295518207283) 69%, rgba(0,0,0,0.9178046218487395) 93%);
}
.bottomshader{
    
    position: fixed;
    z-index: 9999999999;
    bottom:0;
    width: 100vw;
    height:10vh;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.27354691876750703) 23%, rgba(0,0,0,0.7301295518207283) 69%, rgba(0,0,0,0.9178046218487395) 93%);

}

.hero-wrapper{
    height: 40vh;
    width: 100vw;    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.781) 20%,rgba(0,0,0,0) 30%, rgba(0,0,0,0) 80%, rgba(245, 245, 242, 0) 100%), url(../photos/Dom002.jpg) left/cover;
    
    /* animation: hero-anim 4s ease-out forwards; */
    transform: translateY(0) scale(1);
    /* transform-origin:  left; */
    /* background-blend-mode: ; */
    
}

@keyframes hero-anim {
    0%{opacity: 1; transform:  scale(1);}
    22%{opacity: 1; transform:  scale(1);}
    55%{opacity: 0.5; transform: scale(0.5);}
    80%{opacity: 1; transform:  scale(0.5);}
    100%{opacity: 1; transform:  scale(1);}
}
.hero-text-wall{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(11, 37, 2, 0.548) 10%,rgba(0,0,0,0) 30%, rgba(0,0,0,0) 80%, rgba(245, 245, 242, 0) 100%), url(../photos/Dom002.jpg) left/cover;

    /* background:  linear-gradient(0deg,  rgba(16, 129, 6, 0.562) 5%, rgba(75, 184, 3, 0) 85%)

    
    ; */
    position: relative;
}
.hero-text-wall svg{
    width: 90vw;
    position: absolute;
    bottom: 6%;
    left: 3%;
}
.infoblock{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100vw;
    height: 70vh;
    min-height: 500px;
    background: rgba(128, 128, 128, 0.61);
    padding: 2rem 0.5rem;
    margin-top: 60px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}
#hero-nav{
    position: sticky;
    bottom:-100%;
}
#intro-text{
    font-size: 1.2rem;
    text-align: center;
 }
 @media screen and (min-width: 600px) {
    #intro-text{
        font-size: 1.5rem;
        text-align: center;
     }
}
@media screen and (min-width: 1000px) {
    
    .hero-wrapper{
        height: 100vh;
        
    }
    
    .hero-text-wall svg{
        width: 90vw;
        position: absolute;
        bottom: 16%;
        left: 3%;
    }
    #intro-text{
        font-size: 2rem;
        text-align: center;
     }
}

.tease-button{
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    font-size: 1.5rem;
    box-shadow: var(--dark-shadow);
    color: var(--clr-grey-5);
    cursor: pointer;
    
    width: 200px;
    height: 70px;
    border-radius:22% 8% 24% 9% / 60% 5% 60% 7% ;
    /* place-self: center; */
    background: linear-gradient(0deg,  #ac82219b,  #683a1b7c), 
    linear-gradient(180deg,  #ffffff,  #ffffff)
    ;
    transition: var(--transition);
    animation: grow 5s ease infinite both;
}
.tease-button:hover{
    background: var(--clr-primary-1);
}
.tease-button-anchor{
    place-self: center;
}
@keyframes grow {

    0%{transform: scale(1)}
    50%{transform: scale(1.15)}
    100%{transform: scale(1)}
}