body{

    
    
    
    /* blocks */
    /* background-color: #d9b594;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='129' height='129' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23b89a7e' fill-opacity='0.09'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.09'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E"); */

    /* checked */
    /* background-color: #94cc6c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%2394cc6c' width='11' height='11'/%3E%3Crect fill='%2396cc6d' x='10' width='11' height='11'/%3E%3Crect fill='%2398cd6f' y='10' width='11' height='11'/%3E%3Crect fill='%239bcd70' x='20' width='11' height='11'/%3E%3Crect fill='%239dce72' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%239fce73' y='20' width='11' height='11'/%3E%3Crect fill='%23a1cf75' x='30' width='11' height='11'/%3E%3Crect fill='%23a3cf76' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23a5d078' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23a7d079' y='30' width='11' height='11'/%3E%3Crect fill='%23a9d17b' x='40' width='11' height='11'/%3E%3Crect fill='%23abd17c' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23add27e' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23afd27f' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23b1d381' y='40' width='11' height='11'/%3E%3Crect fill='%23b3d382' x='50' width='11' height='11'/%3E%3Crect fill='%23b4d484' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23b6d486' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23b8d587' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23bad589' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23bcd68b' y='50' width='11' height='11'/%3E%3Crect fill='%23bdd68c' x='60' width='11' height='11'/%3E%3Crect fill='%23bfd78e' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23c1d790' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23c2d891' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23c4d893' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23c6d995' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23c7d996' x='70' width='11' height='11'/%3E%3Crect fill='%23c9da98' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23cada9a' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23ccdb9c' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23cddb9e' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23cfdc9f' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23d0dca1' x='80' width='11' height='11'/%3E%3Crect fill='%23d2dda3' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23d3dda5' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23d4dea7' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23d6dea9' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23d7dfaa' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23d8e0ac' x='90' width='11' height='11'/%3E%3Crect fill='%23dae0ae' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23dbe1b0' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23dce1b2' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23dde2b4' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23dfe2b6' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23e0e3b8' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23e1e4ba' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23e2e4bc' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23e3e5be' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23e4e6c0' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23e5e6c2' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23e7e7c4' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23e8e7c6' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23e9e8c8' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23e9e9ca' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23eae9cc' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23ebeace' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23ecebd0' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23edebd2' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23eeecd4' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */
    /* dfdfdf */
    background-color: #ffffff;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.29' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(18.25) translate(-945.21 -708.9)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(18.25) translate(-945.21 -708.9)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(18.25) translate(-945.21 -708.9)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(18.25) translate(-945.21 -708.9)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(18.25) translate(-945.21 -708.9)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(18.25) translate(-945.21 -708.9)'%3E%3Cg fill='%23edb221'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(18.25) translate(-945.21 -708.9)'%3E%3Cg fill='%23edb221'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(18.25) translate(-945.21 -708.9)'%3E%3Cg fill='%23edb221'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E"); */
    background-image: url(../svg/background-pattern.svg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.04rem;
    color: var(--clr-grey-1);
    line-height: 1.4;
    font-size: 0.875rem;
}




/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/*
=============== 
Variables
===============
*/
html::-webkit-scrollbar{
  width: 1vw;  
}
html::-webkit-scrollbar-thumb{
  background-color: rgb(179, 153, 110);
  height: 63px;
  
}
html::-webkit-scrollbar-track{
  background-color: var(--clr-grey-9);
  
}
html::-webkit-scrollbar-button{
  background-color: var(--clr-primary-1);
  height: 63px;
}


:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.20rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  scroll-behavior: smooth;
  
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}


img:not(.nav-logo) {
  width: 100%;
  
  display: block;
}

h1,
h2,
h3
 {
  letter-spacing: var(--spacing); 
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: 'Roboto', sans-serif;
  /* text-transform: capitalize; */
  letter-spacing: 0.08rem;
  font-weight: 700;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}





/*  global classes */
section{
  opacity: 0;
  animation: fade-in 0.8s linear forwards;
  animation-delay: 0.4s;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  margin: 80px 2vw 2rem 2vw;
  width: 96vw;
  min-height: 90vh;
  border-radius: 10px;
  background: linear-gradient(45deg, rgba(75, 75, 87, 0.25), rgba(95, 79, 79, 0.25));
}
/*
=============== 
Navbar
===============
*/
@keyframes navlinks-slide {
  0%{opacity: 0; transform: translateY(-10px) scaleY(0) ;}
  100%{opacity: 1; transform: translateY(0px) scaleY(1) ;}
  
}
@keyframes navlinks-slide-back {
  0%{opacity: 1; transform: translateY(0px) scaleY(1) ;}
  100%{opacity: 0; transform: translateY(-10px) scaleY(0) ;}
  
}
.navbar {
  height: 60px;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  
  box-shadow: var(--dark-shadow);
  z-index: 99;
  animation: nav-anim 0.7s ease-out forwards;
  transform: translateY(-110%);
  border-bottom: 1px solid gray;
  background: linear-gradient(0deg,  #ac82219b,  #683a1b7c), 
    linear-gradient(180deg,  #ffffff,  #ffffff)
    ;
}
.menu{
  position: absolute;
  left:50%;
  top:10px;
  transform: translateX(-50%);
  height: 40px;
  width: 40px;
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.menu-stripe{
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: var(--clr-grey-5);
  transition: var(--transition);
}
.menu:hover .menu-stripe{
  background: var(--clr-primary-1);
}
.nav-links{
    display: none;
    width: 100vw;
    background: linear-gradient(180deg,  #ac82219b,  #683a1b7c), 
    linear-gradient(180deg,  #ffffff,  #ffffff)
    ;
    position: absolute;
    top: 60px;
    box-shadow: var(--light-shadow), 0px 0px 10px 1px gray;
    transform-origin: top;
    animation: navlinks-slide 0.5s forwards ease-out;
    /* grid-template-columns: repeat(4, auto); */
}
.nav-links-slide-back{
  animation: navlinks-slide-back 0.5s forwards ease-out;
}
.nav-link{
  font-family: 'Sawarabi Mincho', sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  color: var(--clr-grey-5);
  cursor: pointer;
  font-size: 1.3rem;
}
.nav-link-active{
  color: var(--clr-primary-5);
  background: var(--clr-primary-1);
}
.nav-link:hover, .nav-link:active{
  color: var(--clr-primary-5);
  background: var(--clr-primary-1);
  padding-left: 2.25rem;
}

@media screen and (min-width: 800px) {
    .nav-links{
        width: 100vw;
        top: 0px;
        display: grid;
        grid-template-columns: repeat(4, auto);
    }
    .menu{
      display: none;
    }
    .navbar {
      height: 60px;
    }
   
}


/* animation */
@keyframes nav-anim {
  0%{opacity: 0; transform: translateY(-110%);}
  
  100%{opacity: 1; transform: translateY(0);}

}

.hide-links{
  display: grid;
}
.displaynone{
  display: none;
}


/* text-paragrphs */
.description{
  background:rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.267);
  font-size: 1.15rem;
  
}
.description p{
  color: hsla(209, 61%, 16%, 0.931);
  padding-bottom: 0.4rem;
  letter-spacing: 0.1rem;
}
.infolink{
  color:hsl(208, 69%, 32%);
  transition: var(--transition);
  font-style:italic bold ;
  font-size: 1.1rem;
 
}
.infolink:hover{
  cursor: pointer;
  color:hsl(209, 58%, 46%);
}
.hide{
  display: none;
}
.info-animation{
  transform: scaleY(100%);
  transform-origin: top;
  
  animation: info-animation 0.5s ease forwards;
}
@keyframes info-animation {
  from{
    transform: scaleY(0%);
  }
  to{
    transform: scaleY(100%);
  }
}
.contact-link{
  color:hsl(208, 75%, 25%);
  
}

.contact-link:hover{
  color:hsl(209, 58%, 46%);
  transition: var(--transition);
}

/* ICONS */
.icon-div{
  display: inline-block;
  transform: translateY(2px);
  width: 16px;
  height: 16px;
  transition: var(--transition);
  /* background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M616 192H480V24c0-13.26-10.74-24-24-24H312c-13.26 0-24 10.74-24 24v72h-64V16c0-8.84-7.16-16-16-16h-16c-8.84 0-16 7.16-16 16v80h-64V16c0-8.84-7.16-16-16-16H80c-8.84 0-16 7.16-16 16v80H24c-13.26 0-24 10.74-24 24v360c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V216c0-13.26-10.75-24-24-24zM128 404c0 6.63-5.37 12-12 12H76c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm0-96c0 6.63-5.37 12-12 12H76c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm0-96c0 6.63-5.37 12-12 12H76c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm128 192c0 6.63-5.37 12-12 12h-40c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm0-96c0 6.63-5.37 12-12 12h-40c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm0-96c0 6.63-5.37 12-12 12h-40c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm160 96c0 6.63-5.37 12-12 12h-40c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm0-96c0 6.63-5.37 12-12 12h-40c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm0-96c0 6.63-5.37 12-12 12h-40c-6.63 0-12-5.37-12-12V76c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm160 288c0 6.63-5.37 12-12 12h-40c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40zm0-96c0 6.63-5.37 12-12 12h-40c-6.63 0-12-5.37-12-12v-40c0-6.63 5.37-12 12-12h40c6.63 0 12 5.37 12 12v40z"/>'); */
}
.contact-link:hover svg{
  fill:hsl(209, 58%, 46%);

}
.icon-div svg{
  fill:hsl(208, 75%, 25%);
  transition: var(--transition);
}

/* highlight text */
.highlight-text{
  /* color: rgb(53, 39, 6); */
  font-weight: bold;
  text-transform: uppercase;
}

@keyframes fade-in {
  from{opacity: 0;}
  to{opacity: 1;}
}
@keyframes fade-out {
  from{opacity: 1;}
  to{opacity: 0.3;}
}

@keyframes slide-in {
  from{transform: translateY(-35px);}
  to{transform: translateY(0px);}
}

@keyframes skeleton-pulse {
  0%{opacity: 1; transform: scaleX(1.0);}
  100%{opacity: 0.3; transform: scaleX(1.019);}
 

}
.skeleton{
  background-color: rgba(170, 173, 175, 0.979);
  /* animation: skeleton-pulse 1s linear infinite alternate; */
}